<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ext.NET MVC Sample</title>
</head>
<body>
@{
	var X = Html.X();
}

@X.ResourceManager()

@X.Viewport().Layout(LayoutType.Fit).ItemsFromSection(this, "content", true)

@RenderSection("scripts", required: false)
</body>
</html>
